apiVersion: v1
kind: Service
metadata:
  name: lock
  labels:
    app: lock
spec:
  selector:
    app: lock
  ports:
    - protocol: TCP
      name: http
      port: 80
      targetPort: 8000
  type: ClusterIP
